[![status](https://img.shields.io/badge/status-active-brightgreen)](#project-status)
[![release](https://img.shields.io/github/v/release/trallnag/{{ repo_name }})](https://github.com/trallnag/{{ repo_name }}/releases)
[![ci](https://img.shields.io/github/actions/workflow/status/trallnag/{{ repo_name }}/ci.yaml?label=ci)](https://github.com/trallnag/{{ repo_name }}/actions/workflows/ci.yaml)
[![release](https://img.shields.io/github/actions/workflow/status/trallnag/{{ repo_name }}/release.yaml?label=release)](https://github.com/trallnag/{{ repo_name }}/actions/workflows/release.yaml)

# {{ project_name }}

## Project status

The project is maintained by me, [Tim](https://github.com/trallnag), and I am
interested in keeping it alive as I am actively using it.

I'm also using the project to test out various tools and workflows.

## Versioning

The project follows [Semantic Versioning](https://semver.org/).

## Contributing

Contributions are welcome. Please refer to [`CONTRIBUTE.md`](./CONTRIBUTE.md).

## Licensing

This work is licensed under the
[ISC license](https://en.wikipedia.org/wiki/ISC_license). See
[`LICENSE`](./LICENSE) for the license text.

The license is also included in the script
[`src/{{ script_name }}.py`](./src/{{ script_name }}.py) itself.

## Template

This project is based on the following
[Copier](https://copier.readthedocs.io/en/stable/) template:
<https://github.com/trallnag/copier-template-python-script>.
