# `{{ script_name }}.py`

## Versioning

The project follows [Semantic Versioning](https://semver.org/).

## Contributing

Contributions are welcome. Please refer to [`CONTRIBUTE.md`](CONTRIBUTE.md).

## Licensing

This work is licensed under the
[ISC License](https://en.wikipedia.org/wiki/ISC_license). See
[`LICENSE`](LICENSE) for the license text.

The license is also included in the script
[`src/{{ script_name }}.py`](src/{{ script_name }}.py) itself.

## Template

This project is based on the following
[Copier](https://copier.readthedocs.io/en/stable/) template:
<https://github.com/trallnag/copier-template-python-script>.
