import subprocess


def run_with(*args: str) -> subprocess.CompletedProcess[str]:
    return subprocess.run(
        [
            "uv",
            "run",
            "src/{{ script_name }}.py",
            *args,
        ],
        capture_output=True,
        shell=False,
        check=False,
        text=True,
    )


def test_get_version() -> None:
    """
    Tests that the script returns a version.
    """

    result = run_with("--version")
    assert result.returncode == 0
