#!/usr/bin/env bash

#
# This script synchronizes the required Python version, dependencies, and
# dependency versions from the project config to the script inline metadata.
#

set -euo pipefail

# Extract metadata from config.
metadata=$(
  sed --quiet '7,12p' pyproject.toml \
    | sed 's/^/# /' \
    | sed 's/[[:space:]]\+$//'
)

# Remove current metadata from script.
stripped_script=$(sed '21,26d' src/{{ script_name }}.py)

# Insert new metadata into script.
{
  echo "$stripped_script" | head --lines=20
  echo "$metadata"
  echo "$stripped_script" | tail --lines=+21
} > src/{{ script_name }}.py
